<meta charset='UTF-8'/>
<meta name='viewport' content='width=device-width, initial-scale=1'/>
<link rel='icon' href='https://grails.apache.org/images/favicon.ico'/>
<link rel='mask-icon' href='https://grails.apache.org/images/grails-pinned-icon.svg' color='#feb672'/>
<link rel='alternate' type='application/rss+xml' title='RSS' href='https://grails.apache.org/rss.xml'/>
<link rel='stylesheet' href='[%url]/stylesheets/screen.css'/>
<link rel='stylesheet' href='[%url]/stylesheets/plugin.css'/>
<script src='[%url]/javascripts/navigation.js'></script>

<!-- Matomo -->
<script>
  var _paq = window._paq || [];
  window._paq = _paq;
  _paq.push(['setDoNotTrack', true]);
  _paq.push(['disableCookies']);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u = 'https://analytics.apache.org/';
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '79']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
  })();
</script>
<!-- End Matomo Code -->

[%kapa]
