<article class="guide">
    <aside>
        <a href="https://travis-ci.org/${githubSlug}"><img src="https://travis-ci.org/${githubSlug}.svg?branch=master"></a>

        <button type="button" class="btn btn-large" onclick="window.location.href=&quot;https://github.com/${githubSlug}&quot;"><img height="15" src="../img/github_white.svg" alt="Github"/><span>&nbsp;Get the Code</span></button>


        <ul class="githublinks">
            <li><button type="button" class="btn btn-default" href="#" onclick="document.getElementById('github-url').value='git@github.com:${githubSlug}.git'" class="codeButton">SSH</button></li>
            <li><button type="button" class="btn btn-default" onclick="document.getElementById('github-url').value='https://github.com/${githubSlug}.git'" class="codeButton">HTTPS</button></li>
        </ul>
        <div class="input-group">
            <!-- Target -->
            <input id="github-url" value="git@github.com:${githubSlug}.git" type="text" />
            <!-- Trigger -->
            <button type="button" class="clippy btn btn-default" type="button" data-clipboard-target="#github-url">
                <img width="13" src="../img/clippy.svg" alt="Copy to clipboard">
            </button>
        </div>
        <script>var clipboard = new Clipboard('.clippy');</script>
        <button type="button" class="btn btn-large" onclick="window.location.href=&quot;https://github.com/${githubSlug}/archive/master.zip&quot;">Download ZIP</button>
        <% if(toc){ %>
        <div id="table-of-content">
            <h3>Table of Contents</h3>
            <%
            sectionWriter = { lvl, section, topSection, prefix ->
            if (single) {
            %>
            <div class="toc-item" style="margin-left:${lvl * 10}px"><a href="#${ section.name.encodeAsUrlFragment().encodeAsHtml() }"><strong>$prefix</strong><span>${section.title?.encodeAsHtml()}</span></a></div>
            <%
            }
            else {
            %>
            <div class="toc-item" style="margin-left:${lvl * 10}px"><a href="${path}/guide/${topSection.name.encodeAsUrlPath().encodeAsHtml()}.html${ lvl == 0 ? '' : '#' + section.name.encodeAsUrlFragment().encodeAsHtml() }"><strong>$prefix</strong><span>${section.title?.encodeAsHtml()}</span></a></div>
            <%
            }
            lvl++
            section.children.eachWithIndex { s, j ->
            sectionWriter.call(lvl, s, topSection, prefix + '.' + (j + 1))
            }
            }
            toc.children.eachWithIndex { topSection, i ->
            sectionWriter.call(0, topSection, topSection, i + 1)
            }
            %>
            <div style="clear:both" ></div>
        </div>
        <% } %>
    </aside>
    <header>
        <h1>${title.encodeAsHtml()}</h1>
        <p>${subtitle?.encodeAsHtml()}</p>
        <p><strong>Authors:</strong> ${authors.encodeAsHtml()}</p>
        <p><strong>Grails Version:</strong> ${grailsVersion}</p>
    </header>
    ${content}
</article>