table.support-schedule {
	width: 100%;
	overflow-x: auto;
}

.twocolumns.support-schedule {
	background-color: #ffffff;
}

table.support-schedule tr:nth-child(even) {
	background-color: #dddddd;
}

table.support-schedule td {
	color: #545454;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: none;
}
