@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro&family=Work+Sans:wght@300&display=swap');

.content article{
  font-family: 'Inter', sans-serif;
  background-color:white;
  padding:.7em 2em;
  margin:2.5em 2em;
  color:#454545;
  filter: drop-shadow(0 4px 0.2rem #C0C0C0);
 }
 /* Mobile article */
 @media only screen and (max-width: 800px) {
  .content article{
    margin:2em 0;
  }
 }
 .menu{
  display:flex;
  flex-direction:row;
  justify-content:center;
  margin:1em;
 }
 /* Mobile Menu */
 @media only screen and (max-width: 800px) {
  .menu{
   flex-direction: column;
   align-items:center;
  }
 }
 .intro_copy{
  margin:2em 0;
 }
 h2{
  background-color:#3359A3;
  color:white;
  padding:.5em;
  font-weight: 300;
  filter: drop-shadow(0 4px 0.2rem #C0C0C0);
 }
 article p {
  margin: 2em 0;
 }
 .starting{
   font-size:0.9em;
 }
 .hours{
  font-size:2em;
  font-weight:300;
 }
 .price{
  font-size:1.5em;
  font-weight:700;
 }
 .lwr_case{
  font-size:.8em;
  font-weight:300;
 }
 .disclaimer{
  font-weight:300;
  font-size:.9em;
 }
 li{
  font-weight: 300;
 }
 ul{
  list-style-type:disc;
 }
 .button{
  font-family: 'Inter', sans-serif;
  font-size:1.2em;
  font-weight: 300;
  text-decoration:none;
  color:#fff;
  border:none;
  padding:.5em .8em;
  margin:1em .5em;
  cursor: pointer;
 }
 button{
   background-color:#3359A3;
 }
 .menu a{
  width:80%;
  background-color:#454545;
  text-align:center;
 }
 .menu a:hover{
  color:#fff;
 }
 .CTA{
  justify-content:flex-end;
  display:flex;
  flex-direction:row;
 }
 .CTA button a{
  text-decoration: none;
  color:#fff;
 }
  /* Mobile CTA */
  @media only screen and (max-width: 800px) {
    .CTA{
     flex-direction: column;
     align-items:center;
    }
    .CTA button {
      width:100%;
     }
   }
/* Modal CSS
 Code used and adjusted for grails via:
https://codingflag.blogspot.com/2020/10/how-to-create-popup-modal-using-css-only-css-tricks.html
*/
   #popup {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.75);
    display:none;
  }
  #popup .popup-content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:3em;
    background:#eee;
    width: 22vw;
    min-width: 500px;
  }
  #popup .close-popup {
    position:absolute;
    top:20px;
    right:20px;
    font-size:20px;
    font-weight:600;
    text-decoration:none;
    cursor: pointer;
  }
  #popup:target {
    display:block;
  }
