<!DOCTYPE html>
<html lang="en">
<head>
    <title>[%title]</title>
    <meta name="keywords" content="[%keywords]"/>
    <meta name="description" content="[%description]"/>
    <meta name="date" content="[%date]"/>
    <meta name="robots" content="[%robots]"/>
    [%twittercard]
    <meta name='twitter:site' content='@grailsframework'/>
    <meta name='twitter:description' content='[%description]'/>
    <meta name='twitter:creator' content='@grailsframework'/>
    <meta property='og:image' content='[%ogimage]'/>
    <meta property='og:url' content='[%ogurl]'/>
    <meta property='og:title' content='[%title]'/>
    <meta property='og:description' content='[%description]'/>
    <meta property='og:type' content='website'/>

    [%PARTIAL:site-head]
    <script src='[%url]/javascripts/algolia-config.js'></script>
    <link rel='stylesheet' href='[%url]/stylesheets/algolia-search.css'/>
    <script src='[%url]/javascripts/algolia-search.js'></script>

    <link rel='stylesheet' href='[%url]/stylesheets/paginate.css'/>
    <script src='[%url]/javascripts/paginate.js'></script>
    [%HTML header]
    [%CSS]
    [%JAVASCRIPT]
    <script src='[%url]/javascripts/plugins.js'></script>
</head>
<body>
[%PARTIAL:site-header]
<article data-document>&nbsp;</article>
[%PARTIAL:site-footer]
</body>
</html>
